:root {
  /* COLOR */
  --clr-primary: 300 43% 22%;
  --clr-accent: 333 80% 67%;
  --clr-primary-variant: 303 10% 53%;
  --clr-secondary: 300 24% 96%;
  --clr-bg: 0 0% 100%;

  /* FONT FAMILY */
  --ff-league-spartan: "League Spartan", sans-serif;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}
