:root {
  /* COLOR */
  --clr-primary: 300 43% 22%;
  --clr-accent: 333 80% 67%;
  --clr-primary-variant: 303 10% 53%;
  --clr-secondary: 300 24% 96%;
  --clr-bg: 0 0% 100%;

  /* FONT FAMILY */
  --ff-league-spartan: "League Spartan", sans-serif;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-league-spartan);
  font-weight: var(--fw-regular);
  padding: 1.5rem;
  background: hsl(var(--clr-bg));
  color: hsl(var(--clr-primary));
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* HEADER */

.header {
  text-align: center;
  margin-top: 5rem;
}

.main-heading {
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  line-height: 0.8;
  letter-spacing: -0.0625rem;
}

.description {
  font-size: 1.125rem;
  line-height: 1.4;
  color: hsl(var(--clr-primary-variant));
  margin-top: 1.5rem;
}

/* REVIEWS */

.reviews {
  margin-block: 2.5rem 3.0625rem;
}

.reviews__item {
  background: hsl(var(--clr-secondary));
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.reviews__item:not(:last-child) {
  margin-bottom: 1rem;
}

.reviews__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.reviews__content {
  font-weight: var(--fw-bold);
  letter-spacing: 0.031rem;
  margin-top: 1rem;
}

/* TESTIMONIALS */

.testimonials__item {
  background: hsl(var(--clr-primary));
  color: hsl(var(--clr-secondary));
  padding: 2.5rem 2rem 2rem;
  border-radius: 0.5rem;
}

.testimonials__item:not(:last-child) {
  margin-bottom: 1rem;
}

.testimonials__user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.0625rem;
  margin-bottom: 1.7rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
}

.testimonials__user-name {
  font-weight: var(--fw-bold);
  margin-bottom: 0.25rem;
}

.testimonials__user-status {
  color: hsl(var(--clr-accent));
}

.testimonials__content {
  font-weight: var(--fw-medium);
  line-height: 1.35;
  letter-spacing: 0.15px;
}
